* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 90%;
}

.container {
    width: 80%;
    margin: 1rem auto;
}